*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Libre Franklin', sans-serif;
}
h1, .image_description{
    font-family: 'Tenor Sans';
    font-weight: 400;
    text-transform: uppercase;
    color: #000000;
}
h1{
    margin: 18px 0 27px;
    font-size: 36px;
    line-height: 42px;
}
.image_description{
    margin:18px 0 15px;
    font-size: 20px;
    line-height: 24px;
}
h3,.subheader_image{
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #999999;
}
.wrapper{
    width:80vw;
    margin:auto;
    display:grid;
    grid-template-areas: "header"
                         "main"
                         "footer";
}
.line{
    border:1px solid #E6E6E6;
    width: 100vw;
    margin-bottom: 60px;
}
.header{
    grid-area:header;
    max-height:100vh;
    margin-bottom:60px;
}
.header_container{
    display: grid;
    grid-template: 90px/repeat(2, 1fr);
    align-items: center;
}
.header_logo_container{
    justify-self:start;
}
.header_menu{
    display:grid;
}
.header__list {
    width: 255px;
    justify-self: end;
	display: grid;
	grid-auto-flow: column;
    justify-content: space-around;
    list-style: none;
}
.header__link {
	text-decoration: none;
    font-size:14px;
}
.header_banner{
    height:474;
    display:grid;
    grid-template-columns: minmax(auto, 720px) minmax(auto, 430px);
    justify-content: space-between;
}
.header_text{
    margin-right:11px;
    margin-bottom:28px;
    font-family: 'Source Serif Pro';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #666666;
}
.name{
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
}
.main{
    grid-area: main;
}
.main_section_post{
    height: 910px;
    display:grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    row-gap:76px;
    column-gap:20px;
    margin-bottom: 92px;
}
.post_item img, .future_post_item img{
    margin-bottom:19px;
}
.subheader_posts{
    margin-bottom:30px;
}
.main_section_latest_post{
    display: grid;
    grid-template:repeat(2, 1fr) / repeat(4, 1fr);
    row-gap:74px;
    column-gap:20px;
    margin-bottom:90px;
}
.latest_post_item img{
    max-width:285px;
    margin-bottom:25px;
}
.button{
    margin:0 auto;
    text-align: center;
    padding: 21px 26px;
    grid-column: 1/5;
    border: 1px solid black;
}
.button_text{
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
}
.main_section_feature_post{
    display:grid;
    grid-template: repeat(2, minmax(auto, 1fr)) / repeat(2, minmax(auto, 610px));
    row-gap:74px;
    column-gap:20px;
    justify-content: space-between;
    margin-bottom: 90px;
}
.footer{
    grid-area:footer;
    padding:90px 0;
    background-color: #141414;
    color: white;
}
.footer_logo a{
    margin-right:15px;
}
.footer_logo span{
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #666666;
}
.footer_categories{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: start;
    gap:20px;
    margin-top:60px;

}
.footer_categories_header{
    grid-column:1/5;
    grid-row:1/2;
}
.animation{
    grid-column:1/2;
    grid-row:2/3;
}
.architecture{
    grid-column:2/3;
    grid-row:2/3;
}
.graphic{
    grid-column:3/4;
    grid-row:2/3;
}
.illustration{
    grid-column:4/5;
    grid-row:2/3;
}
.interactive{
    grid-column:1/2;
    grid-row:3/4;
}
.miscellaneous{
    grid-column:2/3;
    grid-row:3/4;;
}
.photography{
    grid-column:3/4;
    grid-row:3/4;
}
.product{
    grid-column:4/5;
    grid-row:3/4;
}
.footer_email{
    grid-column:5/7;
    grid-row:1/2;
}
.input{
    grid-column:5/7;
    grid-row:2/4;
    width:300px;
    display:flex;

}
.input_element{
    height: 45px;
    width:220px;
    padding-left:24px;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color:#666666;
}
.input_button{
    height:45px;
    width: 79px;
    background-color:black;
    cursor:pointer;
}
.input_button_text{
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
}